<IfModule mod_rewrite.c>
RewriteEngine On
# check if request is for subdomain
RewriteCond %{HTTP_HOST} ^marcelorodovalho.com$ [NC]
# check if  'test' isnt part of request
RewriteCond %{REQUEST_URI} !^/projects/(.+)$ [NC]
RewriteCond %{REQUEST_URI} ^/projects?(.*)$ [NC]
# if subdomain and no 'test' part, redirect to main domain...
RewriteRule ^(.*)$ http://marcelorodovalho.com/ [R,L]
</ifModule>