<!-- Top -->
<div ng-include="'views/top.html'" class="top"></div>
<!-- /Top -->

<!-- Content -->
<div id="content">
  <!-- Profile -->
  <div ng-include="'views/profile.html'" id="profile" ng-controller="ProfileController" ng-show="$parent.toggle"></div>
  <!-- Menu -->
  <div ng-include="'views/menu.html'" class="app-aside"></div>
  <!-- /Menu -->
  <!-- /Profile -->

  <!-- ContentBody -->
  <div class="app-content-body fade-in" ui-view></div>
  <!-- /ContentBody -->
</div>
<!-- /Content -->

<!-- Footer -->
<div ng-include="'views/footer.html'" class="footer"></div>
<!-- /Footer -->