<!-- Contact -->
<div id="contact">
    <div id="map"></div>
    <!-- Contact Info -->
    <div class="contact-info">
        <h3 class="main-heading"><span>Contato</span></h3>
        <ul>
            <li>Quadra 203, Águas Claras (Sul)<br/><br/></li>
            <li>Email: contato@marcelorodovalho.com</li>
            <li>Phone: +55 61 9302 5413</li>
            <li>Website: www.marcelorodovalho.com</li>
        </ul>
    </div>
    <!-- /Contact Info -->
    <!-- Contact Form -->
    <div class="contact-form">
        <h3 class="main-heading"><span>Vamos manter contato</span></h3>
        <div id="contact-status"></div>
        <form action="" id="contactform">
            <p>
                <label for="name">Seu Nome</label>
                <input type="text" id="name" name="name" class="input">
            </p>
            <p>
                <label for="email">Seu Email</label>
                <input type="text" id="email" name="email" class="input">
            </p>
            <p>
                <label for="message">Sua Message</label>
                <textarea id="message" name="message" cols="88" rows="6" class="textarea"></textarea>
            </p>
            <input type="submit" name="submit" value="Enviar mensagem" class="submit">
        </form>
    </div>
    <!-- /Contact Form -->
</div>
<!-- /contact -->