<div class="menu">
    <nav ui-nav>
        <ul class="tabs nav">
            <li ui-sref-active="active"><a ui-sref="app.profile" class="tab-profile hvr-bob" ng-click="$parent.toggle = true" ng-class="{ active: $parent.toggle }">Perfil</a></li>
            <li ui-sref-active="active"><a ui-sref="app.resume" class="tab-resume hvr-bob" ng-click="$parent.toggle = false" ng-class="{ active: $parent.toggle }">Currículo</a></li>
            <li ui-sref-active="active"><a ui-sref="app.portfolio" class="tab-portfolio hvr-bob" ng-click="$parent.toggle = false" ng-class="{ active: $parent.toggle }">Portfólio</a></li>
            <li ui-sref-active="active"><a ui-sref="app.contact" class="tab-contact hvr-bob" ng-click="$parent.toggle = false" ng-class="{ active: $parent.toggle }">Contato</a></li>
        </ul>
    </nav>
</div>