<!-- About section -->
<div class="about">
    <div class="photo-inner"><img src="images/photo.jpg" height="186" width="153"/></div>
    <h1>{{profile.name}}</h1>
    <h3>{{profile.title}}</h3>
    <p>{{profile.description}}</p>
</div>
<!-- /About section -->
<!-- Personal info section -->
<ul class="personal-info">
    <li><label>Nome</label><span>{{profile.name}}</span></li>
    <li><label>Nascimento</label><span>{{profile.birthday}}</span></li>
    <li><label>Endereço</label><span>{{profile.address}}</span></li>
    <li><label>Email</label><span>{{profile.mail}}</span></li>
    <li><label>Telefone</label><span>{{profile.phone}}</span></li>
    <li><label>Website</label><span>{{profile.website}}</span></li>
</ul>
<!-- /Personal info section -->