<!-- Resume -->
<div id="resume">
    <div class="timeline-section">
        <!-- Timeline for Employment  -->
        <h3 class="main-heading"><span>Experiências</span></h3>
        <ul class="timeline">
            <li ng-repeat="job in timeline">
                <div class="timelineUnit">
                    <h4>{{ job.title }}<span class="timelineDate">{{ job.period }}</span></h4>
                    <h5>{{ job.company }}</h5>

                    <p>{{ job.attribution }}</p>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
        <!-- /Timeline for Employment  -->
        <!-- Timeline for Education  -->
        <h3 class="main-heading"><span>Educação</span></h3>
        <ul class="timeline">
            <li ng-repeat="course in formation">
                <div class="timelineUnit">
                    <h4>{{ course.course }}<span class="timelineDate">{{ course.year }}</span></h4>
                    <h5>{{ course.colleague }}</h5>

                    <p>{{ course.description }}</p>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
        <!-- /Timeline for Education  -->
    </div>
    <div class="skills-section">
        <!-- Skills -->
        <div ng-repeat="types in skills">
            <h3 class="main-heading"><span>{{ types.type }}</span></h3>
            <ul class="skills">
                <li ng-repeat="(index, skill) in types.skills">
                    <h4>{{ index }}</h4>
                    <span class="rat{{ skill }}"></span>
                </li>
            </ul>
        </div>
        <!-- /Skills -->
    </div>
</div>
<!-- /Resume -->