<!-- Resume -->
<div id="resume">
    <div class="timeline-section">
        <!-- Timeline for Employment  -->
        <h3 class="main-heading"><span>Experiências</span></h3>
        <ul class="timeline">
            <li>
                <div class="timelineUnit">
                    <h4>Programador Sênior/Analista Pleno<span class="timelineDate">2014 - 2015</span></h4>
                    <h5>Cast IT - Fábrica de Software</h5>
                    <p>Desenvolvimento web para sistemas educacionais, como ENEM e Prêmio Inovação.
                        Frameworks: Zend 1 e Zend 2.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Programador Pleno<span class="timelineDate">2013 - 2014</span></h4>
                    <h5>Gestão TI – Fábrica de Software</h5>
                    <p>Desenvolvimento de sistemas web, para Ministério da Pesca e ICMBio.
                        Frameworks: Zend 1</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Analista de Sistemas<span class="timelineDate">2013</span></h4>
                    <h5>Notoriun Tecnologia</h5>
                    <p>Desenvolvimento de sistemas GEO. Utilizando linguagem Node.js.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Desenvolvedor Web<span class="timelineDate">2010 - 2013</span></h4>
                    <h5>Agências: Velum, Tool Interativa, Virtualiza Interativa</h5>
                    <p>Desenvolvimento de sites. Com CakePHP e Wordpress.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Desenvolvedor Web/Soldado<span class="timelineDate">2004 - 2009</span></h4>
                    <h5>Força Aérea Brasileira</h5>
                    <p>Desenvolvimento de portais internos e pequenos sistemas de gerenciamento de pessoal.</p>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
        <!-- /Timeline for Employment  -->
        <!-- Timeline for Education  -->
        <h3 class="main-heading"><span>Educação</span></h3>
        <ul class="timeline">
            <li>
                <div class="timelineUnit">
                    <h4>Bacharel em Análise e Desenvolvimento de Sistemas<span class="timelineDate">2014</span></h4>
                    <h5>Faculdades UniCesumar</h5>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>Web Designer<span class="timelineDate">2005 - 2006</span></h4>
                    <h5>Microlins</h5>
                    <p>HTML/CSS/JS, Dreamweaver, Fireworks, Photoshop e Flash.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>PHP/MySQL<span class="timelineDate">2008</span></h4>
                    <h5>Faculdades Anhanguera</h5>
                    <p>Linguagem PHP, banco de dados MySQL.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>SEO<span class="timelineDate">2011</span></h4>
                    <h5>OlhóSeo</h5>
                    <p>Otimização em Sistemas de Busca.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>HTML5/CSS3<span class="timelineDate">2011</span></h4>
                    <h5>e-Genial</h5>
                    <p>Linguagem HTML5 e CSS3.</p>
                </div>
            </li>
            <li>
                <div class="timelineUnit">
                    <h4>SCRUM<span class="timelineDate">2014</span></h4>
                    <h5>TI Exames</h5>
                    <p>Metodologia ágil para gestão e planejamento de projetos de software.</p>
                </div>
            </li>
            <div class="clear"></div>
        </ul>
        <!-- /Timeline for Education  -->
    </div>
    <div class="skills-section">
        <!-- Skills -->
        <h3 class="main-heading"><span>Especialidades</span></h3>
        <ul class="skills">
            <li>
                <h4>PHP</h4>
                <span class="rat7"></span>
            </li>
            <li>
                <h4>HTML5</h4>
                <span class="rat7"></span>
            </li>
            <li>
                <h4>CSS3</h4>
                <span class="rat7"></span>
            </li>
            <li>
                <h4>JS</h4>
                <span class="rat7"></span>
            </li>
        </ul>
        <h3 class="main-heading"><span>Frameworks/CMS</span></h3>
        <ul class="skills">
            <li>
                <h4>AngularJS</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Symfony2</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Laravel</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Doctrine2</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Zend2</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Zend1</h4>
                <span class="rat4"></span>
            </li>
            <li>
                <h4>CakePHP</h4>
                <span class="rat6"></span>
            </li>
            <li>
                <h4>Wordpress</h4>
                <span class="rat6"></span>
            </li>
            <li>
                <h4>Magento</h4>
                <span class="rat3"></span>
            </li>
            <li>
                <h4>OpenCart</h4>
                <span class="rat3"></span>
            </li>
            <li>
                <h4>Joomla</h4>
                <span class="rat4"></span>
            </li>
            <li>
                <h4>Ruby on Rails</h4>
                <span class="rat3"></span>
            </li>
            <li>
                <h4>jQuery</h4>
                <span class="rat7"></span>
            </li>
        </ul>
        <h3 class="main-heading"><span>Bancos de Dados</span></h3>
        <ul class="skills">
            <li>
                <h4>MySQL</h4>
                <span class="rat6"></span>
            </li>
            <li>
                <h4>PostgreSQL</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Oracle SQL</h4>
                <span class="rat4"></span>
            </li>
            <li>
                <h4>MongoDB</h4>
                <span class="rat4"></span>
            </li>
        </ul>
        <h3 class="main-heading"><span>Outros</span></h3>
        <ul class="skills">
            <li>
                <h4>Bootstrap</h4>
                <span class="rat7"></span>
            </li>
            <li>
                <h4>LESS/SASS</h4>
                <span class="rat6"></span>
            </li>
            <li>
                <h4>GIT, SVN</h4>
                <span class="rat6"></span>
            </li>
            <li>
                <h4>Corel Draw</h4>
                <span class="rat3"></span>
            </li>
            <li>
                <h4>Photoshop</h4>
                <span class="rat6"></span>
            </li>
            <li>
                <h4>Linux</h4>
                <span class="rat5"></span>
            </li>
            <li>
                <h4>Asp, .NET</h4>
                <span class="rat3"></span>
            </li>
        </ul>
        <!-- /Skills -->
    </div>
</div>
<!-- /Resume -->